.brands {


    .wrapper {


        .brand {
            width:100%;


            background-color: forestgreen;

            .product-card {
                width:25%;
                

                background-color: cadetblue;

                img {
                    max-width: 80%;
                }
                p {


                    &:nth-of-type(1) {
                        font-size: 24px;
                    }

                    background-color: dodgerblue;
                }
            }
        }
    }
}