.carousel {
    height: 20%;
    margin: 30px auto;

    div {
        height:100%;
        font-size:0;

        button {
            height:100%;
            width:40px;
            background-color: #e4e4e4;
            color:white;
            border:none;
            font-size:50px;
            font-stretch: condensed;
            font-weight: lighter;
        }

        .left {
            float:left;
        }

        .right {
            float:right;
        }

        .carousel-images {
            display: inline-block;
            width:calc(100% - 80px);

            div {
                div {
                    * {
                        height:100%;
                    }
                }
            }
        }
    }
}