.chess {
    height:95%;
    text-align:center;
    padding: 5%;
    @include mq(0,1024px) {
        height:80%;
    }
    .board {
        width:100%;
        height:100%;
        display: grid;
        grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
        grid-gap: 20px;

        .tile {
            padding:0px 20px;
            text-align: center;

            @include mq(0, 1440px) {
                padding:64px 20px;
            }
            &:first-of-type {
                grid-row-start: 1;
                grid-row-end: 3;
            }
            &:last-of-type {
                grid-row-start: 2;
                grid-row-end: 4;
                grid-column-start: 4;
            }
            article {
                width:90%;
                max-height:80%;
                margin: 0 auto;

                p {
                    font-size: 18px;
                    text-transform: uppercase;
                    font-family: "Noto Sans";
                    vertical-align: middle;
                    &:first-child {
                        font-size: 24px;
                        line-height:28px;
                        margin-bottom:15px;
                    }
                }
                svg {
                    margin-top:15px;
                    font-size:36px;
                }
                img {
                    width:60%;
                }
            }
        }
        .tall-tile {
            padding:196px 20px;
            @include mq(0, 1024px) {
                padding:120px 20px;
            }
        }
    }
}