.contact {
    margin:0;

    .wrapper {
        text-align:center;


        p {

        }

        .fields {
            margin:auto;
            width:60%;
            text-align: left;


            label {
                font-size:14px;
                font-family: 'Oswald';
                line-height:14px;
                margin:0;
                height:14px;
                width:50px;
                display: block;
            }
            input,
            select,
            button {
                width:100%;
                display:inline-block;
            }
            input[placeholder=Name], input[placeholder=E-mail] {
                width:calc(50% - 20px);
                &:nth-child(2) {
                    margin-right:20px;
                }
            }
            * {
                margin:10px 0 20px 0;
            }
        }
    }
}