.error {
    height:80%;
    text-align: center;
    background-color: #ccc;

    div {
        margin: auto;

        .error-container {
            .message{

            }
        }
        
    }
}