header {
    width: 100%;
    background: #3A62DB; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #3A62DB, #1e0655);
    background: -o-linear-gradient(left, #3A62DB, #1e0655);
    background: linear-gradient(to right, #3A62DB, #1e0655); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    div {
        border-bottom: solid 1px #F2F2F2;
        padding: 40px 0;
        font-size: 0;
        @include mq(0,768px) {
            padding:25px 0;
        }
        .left-nav {
            width:60%;
            text-align:left;
            ul {
                li {
                    &:nth-of-type(n + 2) {
                        margin-left: 30px;
                        @include mq(0,1024px) {
                            margin-left:20px;
                        }
                        @include mq(0,768px) {
                            display:none;
                        }
                    }
                }
            }
            @include mq(0,768px) {
                width:40px;
                display:inline-block;
            }
        }
        .right-nav {
            width:40%;
            text-align: right;
            @include mq(0,768px) {
                width:calc(100% - 40px);
            }
            ul {
                li {
                    &:nth-of-type(n + 2) {
                        margin-left: 30px;
                        @include mq(769px,1024px) {
                            margin-left:20px;
                        }
                    }
                }
            }
            .hamburguer {
                display:none;
                @include mq(0,768px) {
                    display:inline-block;
                    font-size:30px;
                    color:#F2F2F2;
                    margin-left:30px;
                    float:right;
                    transform:translateY(-20%);
                }
            }
        }
        nav {
            display: inline-block;
            ul {
                li {
                    display: inline-block;
                    img {
                        height:40px;
                        transform: translateY(30%);
                        margin-right:10px;
                    }
                    a {
                        font-size:18px;
                        color:#F2F2F2;
                        font-family: "Noto Sans";
                        font-weight: lighter;
                        text-decoration: none;
                        svg {
                            margin-right:6px;
                            transform: translateY(10%);
                        }
                    }
                }
            }
        }
    }
}