.shopping-list {

    .wrapper {


        .cart-table {
            margin: 50px 0;
            display: grid;
            grid-template-columns: 15% auto 15% 100px 100px 60px;
            overflow: hidden;

            div {
                border: 1px solid #ccc;
                height:80px;
                padding:5px;
                font-family: 'Oswald';

                &:nth-of-type(-n+6) {
                    height:30px;
                    border:none;

                    text-transform: uppercase;
                    text-align: left;
                    font-size: 16px;
                    line-height:20px;
                    color:#ccc;

                }

                img {
                    min-width:100%;
                    height:100%;
                    position:relative;
                    left:50%;
                    transform:translate(-50%);
                    
                }
                p {
                    display: inline-block;
                }
                div {
                    display: inline-block;
                    
                    span {
                        display:block;
                        color:white;
                        background-color:black;
                        height:16px;
                        width:16px;
                        font-size:18px;
                        line-height:15px;
                        text-align:center;

                        &:first-of-type {
                            margin-bottom: 2px;
                        }
                    }
                }
                a {
                    width:100%;
                    height:100%;
                }

            }
        }
        div {
            
        }
    }
}