
.signup {
    text-align: center;
    width:100%;

    div {
        margin:auto;

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 40px;
            kerning: 2px;
        }

        p {

        }

        div {
            
            
            input {

            }
            button {

            }
        }
    }
}