.signup {
    padding: 100px 0;
    background: #dddddd; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #dddddd, #a0a0a0);
    background: -o-linear-gradient(left, #dddddd, #a0a0a0);
    background: linear-gradient(to right, #dddddd, #a0a0a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    .wrapper {

        .fields {
            margin-bottom:0;

            input {
                width:55%;
            }
            button {
                height:35px;
                width:140px;
                margin-left:14px;
                font-size:16px;
                border-radius:8px;
            }
        }
    }
}