@import '_reset';
@import 'config';
@import '_mixins';
@import '_header';
@import '_hero';
@import '_chess';
@import '_signup';
@import '_carousel';
@import '_footer';

/*
body {
    background-color:red;
    @include mq(0,800px) {
        background-color:rgba(200, 200, width/255,1);
    }
}
*/

body{
    ::selection {
        color:black;
        background-color: limegreen;
    }

}

.wrapper {
    width:80%;
    max-width:1180px;
    margin:0 auto;
}

.hide {
    display: none;
}