@import '_reset';
@import 'config';
@import '_mixins';
@import '_chess';
@import '_signup';
@import '_carousel';

/*
body {
    background-color:red;
    @include mq(0,800px) {
        background-color:rgba(200, 200, width/255,1);
    }
}
*/

body{
    ::selection {
        color:white;
        background-color: limegreen;
    }

}